@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

html{
  --primary-color: #324B72;
  --light-grey: #E0E0E0; 
  --mint-green: #4EADC5;
  --mint-green-dark: #4294a8;
  --error-red: #DE212B;
  --success-green: #50C878;
}

@media (max-width: 600px) {
  html{
    zoom: 0.8;
  }
}

#app_container{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
}

#container{
  width: 100%;
  padding: 20px;
  height: 100%;
  display: grid;
  flex-shrink: 0;
  justify-content: center;
  grid-template-columns: minmax(max-content, 460px);
  grid-template-rows: min-content;
}

#new-message-form{
  max-width: 460px;
  height: 100%;
}

*,*::before,*::after{
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  line-height: 1em;
}

/* global ui styles */

.router-link-active{
  background: var(--mint-green);
  color: #fff !important;
  transition: ease-in-out 75ms all;
  &:hover{
    padding-top: 14px;
    text-decoration: none !important;
  }
}

.page-header {
  font-size: 32px;
  line-height: 1em;
  user-select: none;
  font-weight: 300;
  text-align: center;
  // margin-top: 40px;
  margin-bottom: 32px;
  color: var(--primary-color);
}

@media (max-width: 530px) {
  .page-header{
    margin-top: 10px;
    text-align: left;
    font-size: 24px;
  }
}